<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
                <h3 style="text-decoration: underline; color: #0967a1;">International Relations Unit</h3>
                <p>MU strives to be a “Centre of Academic Excellence” in teaching and research, at the service of the people of Nepal and the global learning community by promoting a culture-based service on dedicated teaching, continuous learning, creativity and cutting-edge research with the highest academic standards. Within the International Relations Unit at MU there is an International Relations Unit (IRU) that coordinates between the University and the MERGE Project to enhance the internationalization of University education. The main focus of the International Relations Unit at Mid-West University is to improve the standard of university education by exchanging the knowledge with abroad institutions and universities. <a href="/iru">Read More</a></p>
             
		</div>
	</div>
</div>