<hr>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
            <i class="fa-solid fa-landmark" style="color: red; font-size: 30px;"></i>
            <p style="text-align: justify;">Vision <br>The vision or dream of the International Relations Directorate at MU is to promote the quality of higher education by exchanging knowledge through the student-faculty exchange program, collaborative research and teaching initiatives.</p>
		</div>
		<div class="col-md-4">
            <i class="fa-solid fa-bullseye" style="color: red; font-size: 30px;"></i>
            <p style="text-align: justify;">Mission <br>The mission of the International Relations Directorate at MU is to help the university strengthen bilateral research and academic programs of the departments of Mid-West University with overseas universities through MoU</p>
		</div>
		<div class="col-md-4">
            <i class="fa-solid fa-book-open-reader" style="color: red; font-size: 30px;"></i>
            <p style="text-align: justify;">Values <br>Quality education should be maintained in the research level <a href="/vmgo">Read More</a></p>
		</div>
	</div>
</div>